body {
    background: #333;
    color: white;
}

header {
    width: 880px;
    height: 50px;
}

header h1 {
    float: left;
    font-family: 'Michroma', sans-serif;
    margin: 0px;
}

header h1 a {
    color: white;
    cursor: hand;
    text-decoration: none;
}

header em {
    font-size: 18px;
    font-style: normal;
}

#social-button {
    float: right;
    margin-top: 15px;
}

#social-button div {
    display: inline;
}

#social-button .facebook {
    position: relative;
    top: 5px;
    left: 10px;
}

#console {
    clear: both;
    width: 860px;
    background: #999;
    margin-top: 10px;
    padding: 10px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    white-space: nowrap;
}

#console section {
    float: left;
    height: 40px;
}

#console button {
    width: 75px;
}


#save-msg {
    border: solid 1px #333;
    background: transparent;
    width: 350px;
    color: white;
    margin-left: 10px;
}

#selector {
    width: 350px;
    padding: 0px;
    margin: 5px 10px 0px 10px;
    list-style: none;
}

#selector li {
    cursor: hand;
    float: left;
    margin-left: 5px;
}

#selector li div {
    color: white;
    background: #ccc;

    font-size: 14px;

    padding: 3px;
    width: 16px;
    height: 16px;
    margin: 2px;
    float: right;
    text-align: center;

    font-weight: bold;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

#selector li span {
    font-size: 10px;
}

#spectrum {
    background: black;
    width: 330px;
    height: 50px;
}


#options-panel {
    height: 80px;
    margin: 5px 0px 0px 10px;
    display: none;
}

#options-panel section {
    float: left;
    height: 80px;
    margin-right: 10px;
    border: solid 0px gray;
    border-width: 0px 1px 0px 0px;
}

#options-panel .no-border {
    border-width: 0px 0px 0px 0px;
}

.width-200 {
    width: 200px;
}

.slider {
    width: 145px;
    margin-right: 10px;
    height: 35px;
}

.select {
    position: relative;
    top: 15px;
    height: 40px;
}

.select select {
    position: relative;
    top: -3px;
    float: right;
    width: 80px;

}

#options-panel section:last-child {
    border-width: 0px;
}

.slider label {
    display: block;
    clear: both;
    margin: 10px 0px 5px 0px;
    font-size: 12px;
}

.select label {
    display: inline;
}

.slider div {
    width: 90px;
    float: left;
}
.slider var {
    float: right;
    position: relative;
    top: -5px;
    margin-right: 10px;
    font-family: monospace;
    font-size: 12px;
}


.ui-slider-horizontal {
    height: 0.2em !important;
}
.ui-slider-handle {
    height: 0.6em !important;
}



#patterns {
    width: 880px;
    background: #999;
    margin-top: 10px;
    padding: 5px 0px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}


#edit canvas {
    width: 800px;
    height: 100px;
    margin: 10px 10px 0px 10px;
    background: #000;
}

#edit .ctrl {
    float: right;
    margin: 8px 10px 0px 0px;
}

#edit div button {
    color: #33f;
    font-size: 10px;
}

#edit div button:last-child {
    color: #f33;
}

#edit .ctrl button {
    display: block;
    width: 50px;
}

#help {
    background: black;
    margin: 10px;
    padding: 10px;
    font-size: 12px;

    font-family: monospace;
}

#help h1 {
    margin: 0px 0px 0px 15px;
    padding: 0px;
}

#help ul {
    float: left;
    width: 375px;
}

#tips {
    clear: both;
}

footer {
    margin-top: 10px;
    font-size: 12px;
    color: #dcdcdc;
}

footer a {
    color: #99f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}